<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/loginstyle.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
    <form class="form-signin" action="/login" method="POST">
        <label for="inputusername">Username</label>
        <input type="username" name="username" />
        <label for="inputpassword">Password</label>
        <input type="password" name="password" />
        <input type="submit" class="login-btn" value="Login" />
      </form>
    </div>
  </body>
</html>